<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload = () =>{
		//검색 클릭 했을 때 검색 항목 값, 검색어를 읽어와서 경고창(콘솔)으로 출력
		document.querySelector("#btnSearch").onclick = () => {
			const kind = document.querySelector("#kind").value;
			const search = document.querySelector("#search").value;

			alert(`${kind} / ${search}`);
			/*
			//GET 방식으로 보냈을때
			//kind와 search를 queryString 작업 파라미터명=값&파라미터명=값
			const param = `kind=${kind}&search=${search}`;
			fetch(`/car/search?${param}`).
			then(response => response.json()).
			then(data => {
				//원하는 곳에 데이터 출력
				console.log(data);
			}).
			catch(error => console.log(error));
			*/
			//POST 방식
			const sendData = {
				kind : kind,
				search : search
			};
			console.log(JSON.stringify(sendData));
			fetch('/car/search/post',{
				method:"POST",
				headers:{
					'Content-Type' : 'application/json'
				},
				body : JSON.stringify(sendData)
			}).then(response => response.json())
			.then(data => {
				console.log(data);
				//태그 조립
				//<tr><td>아이디</td>...<td>수정 / 삭제</td></tr>
				let tag = '';
				//반복문
				
				console.log(tag);
			}).catch(error => console.log(error))
		}
		
	}
</script>
</head>
<body>
	<h1>자동차 정보 관리 시스템</h1>
	<nav>
		<a href="/car/insert/view">자동차 정보 추가</a>
	</nav>
	<hr>
	<div>
		<!-- 
			검색 항목 : 모델명, ID, 출시년도  
			검색창 구조
			   select     input   button
		    [검색항목 선택] [검색어] [검색버튼]
		-->
		<select id="kind">
			<option value="cname">모델명</option>
			<option value="id">ID</option>
			<option value="myear">출시년도</option>
		</select>
		<input type="text" id="search">
		<button type="button" id="btnSearch">검색</button>
	</div>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>모델명</th>
				<th>출시년도</th>
				<th>금액</th>
				<th>제조사번호</th>
				<th>비고</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="car : ${carList}">
				<td>[[${car.id}]]</td>
				<td>[[${car.cname}]]</td>
				<td>[[${car.myear}]]</td>
				<td>[[${car.price}]]</td>
				<td>[[${car.mno}]]</td>
				<td>
					<!-- /car/a101001?cname=A9 -->
					<a th:href="@{/car/{id}(id=${car.id},cname=${car.cname})}">수정</a>
					<!-- /car/delete?id=a101011 -->
					<a th:href="@{/car/delete(id=${car.id})}">삭제</a>
				</td>
			</tr>
		</tbody>
	
	</table>
</body>
</html>









