<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>자동차 정보 관리 시스템</h1>
	<hr>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>모델명</th>
				<th>출시년도</th>
				<th>금액</th>
				<th>제조사번호</th>
				<th>비고</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="car : ${carList}">
				<td>[[${car.id}]]</td>
				<td>[[${car.cname}]]</td>
				<td>[[${car.myear}]]</td>
				<td>[[${car.price}]]</td>
				<td>[[${car.mno}]]</td>
				<td>
					<!-- /car/a101001?cname=A9 -->
					<a th:href="@{/car/{id}(id=${car.id},cname=${car.cname})}">수정</a>
					<!-- /car/delete?id=a101011 -->
					<a th:href="@{/car/delete(id=${car.id})}">삭제</a>
				</td>
			</tr>
		</tbody>
	
	</table>
</body>
</html>









